{%- style -%}

.{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    width: 100%;
}

.containertext-{{ section.id }} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 60px;
    
}

.img-{{ section.id }} {
    width: 100%
}


{%- endstyle -%}


{% include 'img-with-text' %}



{% schema %}

{
    "name": "Imagen con texto",
    "class": "img-text",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Title",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "text",
            "default": "<p>Write your description here</p>",
            "label": "Contenido Texto"
        }
]   
}
{% endschema %}