.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas */
    gap: 20px; /* Espacio entre elementos */
    padding: 20px;
  }
  
  .producto-grid {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .producto-grid img {
    max-width: 100%;
    height: auto;
  }
  
  .producto-grid h2 {
    margin: 10px 0;
    font-size: 18px;
  }

  .grid-container .full-unstyled-link a{
    text-decoration: none;
    color: currentColor;
    display: block;
  }

  .product-option input{
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }

  .product-option label{
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin: 0.7rem 0.5rem 0.2rem 0;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
  }

  .product-option input[type='radio']:checked + label {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
  }

  .product-option fieldset{
    border: none;
  }
  .product-option{
    display: flex;
    flex-direction: column;
  }